.icon {
  font-size: 3em;
  transition: filter 0.8s ease-in-out, font-size 0.8s linear;

  &--small {
    font-size: 2em;
  }

  &--large {
    font-size: 4em;
  }

  &.isFading {
    animation: fadeout 0.8s ease forwards;
  }
}
@keyframes fadeout {
  50% {
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
  }
}
