.icon {
  height: 100px;
  width: 100px;
  transition: filter 0.8s ease-in-out, height 0.8s linear;
  &--hardcore {
    filter: drop-shadow(1px 2px 5px attr(data-hardcorecolor color, red));
  }
  &--small {
    height: 50px;
    width: 50px;
  }
  &--large {
    height: 200px;
    width: 200px;
  }
}
