.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  * {
    margin: 0 0.2em;
  }

  &.isFlashing {
    * {
      animation: heartBeat 1s infinite ease-in-out;
      @for $i from 1 through 100 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 1}s;
        }
      }
    }
  }
}
@keyframes heartBeat {
  50% {
    transform: scale(1.1);
  }
}
