.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition-property: filter, opacity, border-color, color, background-color;
  transition-duration: 0.8s, 0.8s, 0.2s;
  border-width: 1px;
  border-style: solid;
  background-color: var(--background);
  color: var(--color);
  border-color: var(--border);
  &--small {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
  }

  &--medium {
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
  }

  &--large {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
  }

  &--disabled,
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
  &:hover,
  &:focus,
  &:focus-within {
    opacity: 0.85;
  }

  &--primary {
    &:active {
       background-color: var(--color);
      color: var(--background);
      border-color: var(--background);
    }
  }
  &--secondary {
    &:active {
      background-color: var(--color);
      color: var(--background);
      border-color: var(--color);
    }
  }
}
