.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: filter .8s ease-in-out, opacity .2s linear, border-color .2s linear, color .2 linear, background-color .2s linear;
  border-width: 1px;
  border-style: solid;
 
  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }

  &--disabled,
  &:disabled{
      opacity: 0.25;
      pointer-events: none;
  }
  &:hover,
  &:focus,
  &:focus-within{
    opacity: .9;
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.1));
  }
  &:active{
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.2));
  }
}