.link {
  color: red;
  cursor: pointer;
  &--primary {
    color: green;
    &:hover,
    &:focus,
    &:focus-within {
      color: blue;
    }
  }
  &--secondary {
    color: orange;
    &:hover,
    &:focus,
    &:focus-within {
      color: red;
    }
  }
}
