.link {
  color: red;
  cursor: pointer;
  &--primary {
    color: green;
    &:hover,
    &:focus,
    &:focus-within {
      color: blue;
    }
  }
  &--secondary {
    color: orange;
    &:hover,
    &:focus,
    &:focus-within {
      color: red;
    }
  }
  &--disabled,
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
